<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uni.julio.supertvplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature android:name="android.software.leanback"
        android:required="false" />
    <uses-feature android:name="android.hardware.wifi"
        android:required="false">
    </uses-feature>
    <uses-feature android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature android:name="android.hardware.sensor"
        android:required="false"/>

    <application
        android:name="com.uni.julio.supertvplus.LiveTvApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:icon="@mipmap/ic_launcher"
        android:logo="@drawable/banner"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4520177535902533~2322513727"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.uni.julio.supertvplus.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />

        </provider>


        <activity
            android:name="com.uni.julio.supertvplus.view.MoviesTvActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback"/>

        <activity
            android:name="com.uni.julio.supertvplus.view.SearchTvActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback"/>

        <activity
            android:name="com.uni.julio.supertvplus.view.AccountActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />

        <activity
            android:name="com.uni.julio.supertvplus.view.VideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout|touchscreen|smallestScreenSize"
            android:screenOrientation="landscape"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/SuperTvDefault.NoActionBar" />

        <activity
            android:name="com.uni.julio.supertvplus.view.SearchActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />
        <activity
            android:name="com.uni.julio.supertvplus.view.LoadingActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />
        <activity
            android:name="com.uni.julio.supertvplus.view.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />
        <activity
            android:name="com.uni.julio.supertvplus.view.SignUp"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />
        <activity
            android:name="com.uni.julio.supertvplus.view.SubscribeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />
        <activity
            android:name="com.uni.julio.supertvplus.view.EmailVerifyActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />
        <activity
            android:name="com.uni.julio.supertvplus.view.MultiSeasonDetailActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />
        <activity
            android:name="com.uni.julio.supertvplus.view.exoplayer.VideoPlayFragment"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout|touchscreen|smallestScreenSize"
            android:screenOrientation="landscape"
            android:theme="@style/SuperTvDefault.NoActionBar" />

        <activity
            android:name="com.uni.julio.supertvplus.view.LiveTvNewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/SuperTvDefault.NoActionBar" />
        <activity
            android:name="com.uni.julio.supertvplus.view.MoviesActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />
        <activity
            android:name="com.uni.julio.supertvplus.view.OneSeasonDetailActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />
        <activity
            android:name="com.uni.julio.supertvplus.view.MoreVideoActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />
        <activity
            android:name="com.uni.julio.supertvplus.view.SpeedTestActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />

        <activity
            android:name="com.uni.julio.supertvplus.view.SelectServerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar" />
        <activity
            android:name="com.uni.julio.supertvplus.view.MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.uni.julio.supertvplus.view.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/SuperTvDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.settings.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
            </application>

</manifest>